body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:brown ;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: blueviolet;
}


p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 50px;
    background-color:blue;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
}


img {
    width:100%;
    max-width:500px;
}



h3 {
 font-size: 2em;
 font-weight: bold;
 margin-bottom: 50px;
 background-color: blueviolet;
 padding-bottom: 30px;
 padding-left: 30px;
 padding-right: 30px;
}